.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#0572d8 0,#0572d8 100%) !important; /* override background image gradient w/ flat color */
}
.navItem {
    color: white;
    font-weight: bold;
}
#nav-dropdown{
    color: white;
    font-weight: bold;
    background-color: red;
}
.notification{
    color: #f1f1f1 !important;
}
